@use '../utils/breakpoints' as *;


@include sm {
  .basic_posts {
      display: none;
     }
  }

.posts{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     
     &__job {
      width: 30%;
      margin-right: 10px;
      background-image:linear-gradient(to right,rgba(43, 43, 161, 0.5),rgb(96, 96, 246));
      padding: 20px;
      border: 1px solid gray;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      

      & .top {
        margin-bottom:60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        }
    }

    

  }